body {
  color: #fafafa;
}

a {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px currentColor;
  opacity: .7;
  display: block;
}

#intro,
#middle,
#footer {
  height: 220px;
  width: 100%;
}

#intro {
  background-color: red;
}

#middle {
  background-color: green;
}

#footer {
  background-color: orange;
}
p {
  line-height: 1.5rem;
  color: #eeeaaa;
}

h1,
h2 {
  font-size: 2.5rem;
}